In [ ]:
#!pip install pycaret

# volume symbol lowPrice highPrice closeTime count openPrice openTime lastPrice

In [1]:
from pycaret.regression import *
import pandas as pd
data = pd.read_csv("btc_usdt.csv",names=["volume","symbol","lowPrice","highPrice","closeTime","count","openPrice", "openTime","lastPrice"])
#print(data.head())
print(data.shape)

(9563, 9)

In [2]:
s = setup(data, target = 'lastPrice', session_id = 123,ignore_features=["symbol","closeTime","openTime"],index="closeTime")

In [19]:
best = compare_models()

Processing:   0%|          | 0/85 [00:00<?, ?it/s]

In [ ]:
evaluate_model(best)

In [21]:
predict_model(best)

,volume,lowPrice,highPrice,count,openPrice,lastPrice,prediction_label
closeTime,,,,,,,
1715844147557,46593.355469,61923.199219,66666.000000,1828865,61931.718750,66096.117188,66096.117188
1715863769925,41151.671875,63535.890625,66752.007812,1620905,63787.878906,66290.000000,66283.917656
1715853267393,46738.144531,62242.421875,66666.000000,1798329,62841.988281,66319.539062,66320.475859
1715849248249,47244.804688,61923.199219,66666.000000,1828636,62126.429688,66190.000000,66181.407109
1715857728710,45022.273438,62242.421875,66666.000000,1732787,62792.019531,66114.007812,66114.012344
...,...,...,...,...,...,...,...
1715834274489,46086.078125,61829.960938,66666.000000,1800977,61947.050781,65874.406250,65875.267031
1715844467980,46611.222656,61923.199219,66666.000000,1829161,61996.000000,66083.382812,66083.096953
1715828141951,45572.773438,61766.710938,66666.000000,1786600,61766.718750,65889.656250,65889.671875
1715837208051,46008.347656,61829.960938,66666.000000,1806672,61963.871094,65803.992188,65803.670469
1715850038973,47312.238281,61923.199219,66666.000000,1831674,62143.511719,66317.000000,66315.002422

In [3]:
firstModel = create_model('et')

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

In [4]:
save_model(firstModel, 'model_et')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['volume', 'lowPrice', 'highPrice',
                                              'count', 'openPrice'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=[],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('trained_model',
                  ExtraTreesRegressor(n_jobs=-1, random_state=123))]),
 'model_et.pkl')

In [5]:
secondModel = create_model('rf')

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

In [6]:
save_model(secondModel, 'model_rf')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['volume', 'lowPrice', 'highPrice',
                                              'count', 'openPrice'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=[],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('trained_model',
                  RandomForestRegressor(n_jobs=-1, random_state=123))]),
 'model_rf.pkl')

In [10]:
#firstModel.feature_names_in_

array(['volume', 'lowPrice', 'highPrice', 'count', 'openPrice'],
      dtype=object)